In [22]:
import numpy as np
import pandas as pd

In [23]:
def file2csv(file_name):
    data = []
    keys = ['age', 'type_employer', 'fnlwgt', 'education', 'education_num', 'marital',
            'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
            'hr_per_week', 'country', 'income']
    with open(file_name) as f:
        for line in f:
            attributes = line.strip().split(',')
            data_point = {}
            for idx, attribute in enumerate(attributes):
                data_point[keys[idx]] = np.nan if attribute.strip() == '?' else attribute.strip()
            data.append(data_point)

    df = pd.DataFrame(data)
    # write to csv
#     integer_atts = ['age', 'hr_per_week', 'capital_gain', 'capital_loss'] 
#     df[integer_atts] = df[integer_atts].astype(int)
    return df

In [24]:
df = file2csv('adult.train')

In [25]:
df[:20]

,age,type_employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,24,Private,176189,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
1,30,Private,161690,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,60,Private,145493,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
3,42,Private,144995,Preschool,1,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,25,United-States,<=50K
4,23,Private,50341,Masters,14,Never-married,Sales,Not-in-family,White,Female,0,0,20,United-States,<=50K
5,50,Self-emp-not-inc,68898,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,7688,0,55,United-States,>50K
6,17,Private,148522,11th,7,Never-married,Other-service,Own-child,White,Male,0,1721,15,United-States,<=50K
7,47,Private,363418,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,70,United-States,>50K
8,49,Local-gov,119904,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,7688,0,30,United-States,>50K
9,45,Private,178341,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
10,28,Self-emp-inc,31717,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
11,18,Private,434430,HS-grad,9,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,30,United-States,<=50K
12,36,State-gov,340091,Doctorate,16,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,36,United-States,>50K
13,46,State-gov,30219,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,38,United-States,>50K
14,23,Private,174413,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
15,44,Federal-gov,239539,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,>50K
16,18,Private,79443,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,Mexico,<=50K
17,35,Private,162358,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States,>50K
18,35,Private,119992,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K
19,33,Private,204494,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,56,United-States,>50K

In [26]:
integer_atts = ['age', 'hr_per_week', 'capital_gain', 'capital_loss'] 
df[integer_atts] = df[integer_atts].astype(int)

In [27]:
df.dtypes

age               int64
type_employer    object
fnlwgt           object
education        object
education_num    object
marital          object
occupation       object
relationship     object
race             object
sex              object
capital_gain      int64
capital_loss      int64
hr_per_week       int64
country          object
income           object
dtype: object

In [28]:
df.shape

(4000, 15)

In [29]:
df = df.dropna()

In [30]:
df.shape

(3700, 15)

In [31]:
filtered_df = df.drop(['fnlwgt', 'education_num', 'relationship'], axis=1)

In [32]:
filtered_df[:10]

,age,type_employer,education,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,24,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,0,0,40,United-States,<=50K
1,30,Private,Assoc-voc,Never-married,Prof-specialty,White,Female,0,0,40,United-States,<=50K
2,60,Private,Some-college,Divorced,Adm-clerical,White,Female,0,0,40,United-States,<=50K
3,42,Private,Preschool,Never-married,Handlers-cleaners,White,Male,0,0,25,United-States,<=50K
4,23,Private,Masters,Never-married,Sales,White,Female,0,0,20,United-States,<=50K
5,50,Self-emp-not-inc,Masters,Married-civ-spouse,Sales,White,Male,7688,0,55,United-States,>50K
6,17,Private,11th,Never-married,Other-service,White,Male,0,1721,15,United-States,<=50K
7,47,Private,Some-college,Never-married,Sales,White,Male,0,0,70,United-States,>50K
8,49,Local-gov,Bachelors,Married-civ-spouse,Prof-specialty,White,Female,7688,0,30,United-States,>50K
9,45,Private,Masters,Married-civ-spouse,Prof-specialty,White,Male,0,0,50,United-States,<=50K

In [33]:
filtered_df.shape

(3700, 12)

In [34]:
filtered_df.loc[filtered_df['capital_gain'] > 0,'capital_gain'] = 'yes'  # yes > 0, no = 0
filtered_df.loc[filtered_df['capital_gain'] == 0, 'capital_gain'] = 'no'
filtered_df.loc[filtered_df['capital_loss'] > 0, 'capital_loss'] = 'yes'  # yes > 0, no = 0
filtered_df.loc[filtered_df['capital_loss'] == 0, 'capital_loss'] = 'no'
filtered_df.loc[filtered_df['country'] != 'United-States', 'country'] = 'other'  # United-States, other

In [35]:
filtered_df[:20]

,age,type_employer,education,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,24,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,no,no,40,United-States,<=50K
1,30,Private,Assoc-voc,Never-married,Prof-specialty,White,Female,no,no,40,United-States,<=50K
2,60,Private,Some-college,Divorced,Adm-clerical,White,Female,no,no,40,United-States,<=50K
3,42,Private,Preschool,Never-married,Handlers-cleaners,White,Male,no,no,25,United-States,<=50K
4,23,Private,Masters,Never-married,Sales,White,Female,no,no,20,United-States,<=50K
5,50,Self-emp-not-inc,Masters,Married-civ-spouse,Sales,White,Male,yes,no,55,United-States,>50K
6,17,Private,11th,Never-married,Other-service,White,Male,no,yes,15,United-States,<=50K
7,47,Private,Some-college,Never-married,Sales,White,Male,no,no,70,United-States,>50K
8,49,Local-gov,Bachelors,Married-civ-spouse,Prof-specialty,White,Female,yes,no,30,United-States,>50K
9,45,Private,Masters,Married-civ-spouse,Prof-specialty,White,Male,no,no,50,United-States,<=50K
10,28,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,White,Male,no,no,45,United-States,>50K
11,18,Private,HS-grad,Never-married,Prof-specialty,White,Male,no,no,30,United-States,<=50K
12,36,State-gov,Doctorate,Married-civ-spouse,Prof-specialty,White,Female,no,no,36,United-States,>50K
13,46,State-gov,Some-college,Married-civ-spouse,Exec-managerial,White,Male,yes,no,38,United-States,>50K
14,23,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,40,United-States,<=50K
15,44,Federal-gov,Bachelors,Married-civ-spouse,Adm-clerical,Asian-Pac-Islander,Male,no,no,40,other,>50K
16,18,Private,9th,Never-married,Machine-op-inspct,White,Male,no,no,40,other,<=50K
17,35,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,50,United-States,>50K
18,35,Private,Assoc-acdm,Married-civ-spouse,Craft-repair,White,Male,no,no,45,United-States,<=50K
19,33,Private,Some-college,Married-civ-spouse,Exec-managerial,White,Male,no,no,56,United-States,>50K

In [36]:
category_age = ['young', 'adult', 'senior', 'old']
filtered_df['age'] = pd.cut(x=filtered_df['age'],
                            bins=[0, 25, 45, 65, 90],
                            labels=category_age)
category_hour = ['part-time', 'full-time', 'over-time']
filtered_df['hr_per_week'] = pd.cut(x=filtered_df['hr_per_week'],
                                    bins=[0, 39, 40, 168],
                                    labels=category_hour)

In [37]:
filtered_df[:20]

,age,type_employer,education,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,young,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,no,no,full-time,United-States,<=50K
1,adult,Private,Assoc-voc,Never-married,Prof-specialty,White,Female,no,no,full-time,United-States,<=50K
2,senior,Private,Some-college,Divorced,Adm-clerical,White,Female,no,no,full-time,United-States,<=50K
3,adult,Private,Preschool,Never-married,Handlers-cleaners,White,Male,no,no,part-time,United-States,<=50K
4,young,Private,Masters,Never-married,Sales,White,Female,no,no,part-time,United-States,<=50K
5,senior,Self-emp-not-inc,Masters,Married-civ-spouse,Sales,White,Male,yes,no,over-time,United-States,>50K
6,young,Private,11th,Never-married,Other-service,White,Male,no,yes,part-time,United-States,<=50K
7,senior,Private,Some-college,Never-married,Sales,White,Male,no,no,over-time,United-States,>50K
8,senior,Local-gov,Bachelors,Married-civ-spouse,Prof-specialty,White,Female,yes,no,part-time,United-States,>50K
9,adult,Private,Masters,Married-civ-spouse,Prof-specialty,White,Male,no,no,over-time,United-States,<=50K
10,adult,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,White,Male,no,no,over-time,United-States,>50K
11,young,Private,HS-grad,Never-married,Prof-specialty,White,Male,no,no,part-time,United-States,<=50K
12,adult,State-gov,Doctorate,Married-civ-spouse,Prof-specialty,White,Female,no,no,part-time,United-States,>50K
13,senior,State-gov,Some-college,Married-civ-spouse,Exec-managerial,White,Male,yes,no,part-time,United-States,>50K
14,young,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,full-time,United-States,<=50K
15,adult,Federal-gov,Bachelors,Married-civ-spouse,Adm-clerical,Asian-Pac-Islander,Male,no,no,full-time,other,>50K
16,young,Private,9th,Never-married,Machine-op-inspct,White,Male,no,no,full-time,other,<=50K
17,adult,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,over-time,United-States,>50K
18,adult,Private,Assoc-acdm,Married-civ-spouse,Craft-repair,White,Male,no,no,over-time,United-States,<=50K
19,adult,Private,Some-college,Married-civ-spouse,Exec-managerial,White,Male,no,no,over-time,United-States,>50K

In [38]:
filtered_df['type_employer'] = filtered_df['type_employer'].replace(['Federal-gov',
                                                                     'Local-gov',
                                                                     'State-gov'], 
                                                                    'gov')
filtered_df['type_employer'] = filtered_df['type_employer'].replace(['Without-pay',
                                                                     'Never-worked'],
                                                                    'Not-working')
filtered_df['type_employer'] = filtered_df['type_employer'].replace(['Self-emp-inc',
                                                                     'Self-emp-not-inc'],
                                                                    'Self-employed')

In [39]:
filtered_df[:20]

,age,type_employer,education,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,young,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,no,no,full-time,United-States,<=50K
1,adult,Private,Assoc-voc,Never-married,Prof-specialty,White,Female,no,no,full-time,United-States,<=50K
2,senior,Private,Some-college,Divorced,Adm-clerical,White,Female,no,no,full-time,United-States,<=50K
3,adult,Private,Preschool,Never-married,Handlers-cleaners,White,Male,no,no,part-time,United-States,<=50K
4,young,Private,Masters,Never-married,Sales,White,Female,no,no,part-time,United-States,<=50K
5,senior,Self-employed,Masters,Married-civ-spouse,Sales,White,Male,yes,no,over-time,United-States,>50K
6,young,Private,11th,Never-married,Other-service,White,Male,no,yes,part-time,United-States,<=50K
7,senior,Private,Some-college,Never-married,Sales,White,Male,no,no,over-time,United-States,>50K
8,senior,gov,Bachelors,Married-civ-spouse,Prof-specialty,White,Female,yes,no,part-time,United-States,>50K
9,adult,Private,Masters,Married-civ-spouse,Prof-specialty,White,Male,no,no,over-time,United-States,<=50K
10,adult,Self-employed,HS-grad,Married-civ-spouse,Exec-managerial,White,Male,no,no,over-time,United-States,>50K
11,young,Private,HS-grad,Never-married,Prof-specialty,White,Male,no,no,part-time,United-States,<=50K
12,adult,gov,Doctorate,Married-civ-spouse,Prof-specialty,White,Female,no,no,part-time,United-States,>50K
13,senior,gov,Some-college,Married-civ-spouse,Exec-managerial,White,Male,yes,no,part-time,United-States,>50K
14,young,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,full-time,United-States,<=50K
15,adult,gov,Bachelors,Married-civ-spouse,Adm-clerical,Asian-Pac-Islander,Male,no,no,full-time,other,>50K
16,young,Private,9th,Never-married,Machine-op-inspct,White,Male,no,no,full-time,other,<=50K
17,adult,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,over-time,United-States,>50K
18,adult,Private,Assoc-acdm,Married-civ-spouse,Craft-repair,White,Male,no,no,over-time,United-States,<=50K
19,adult,Private,Some-college,Married-civ-spouse,Exec-managerial,White,Male,no,no,over-time,United-States,>50K

In [42]:
filtered_df['education'] = filtered_df['education'].replace(['Preschool',
                                                             '1st-4th',
                                                             '5th-6th',
                                                             '7th-8th',
                                                             '9th',
                                                             '10th',
                                                             '11th',
                                                             '12th'],
                                                            'BeforeHS')
filtered_df['education'] = filtered_df['education'].replace(['Prof-school',
                                                             'Assoc-acdm',
                                                             'Assoc-voc',
                                                             'Some-college'],
                                                           'AfterHS')
filtered_df['education'] = filtered_df['education'].replace(['Masters',
                                                             'Doctorate'],
                                                            'Grd')

In [43]:
filtered_df[:30]

,age,type_employer,education,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,young,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,no,no,full-time,United-States,<=50K
1,adult,Private,AfterHS,Never-married,Prof-specialty,White,Female,no,no,full-time,United-States,<=50K
2,senior,Private,AfterHS,Divorced,Adm-clerical,White,Female,no,no,full-time,United-States,<=50K
3,adult,Private,BeforeHS,Never-married,Handlers-cleaners,White,Male,no,no,part-time,United-States,<=50K
4,young,Private,Grd,Never-married,Sales,White,Female,no,no,part-time,United-States,<=50K
5,senior,Self-employed,Grd,Married-civ-spouse,Sales,White,Male,yes,no,over-time,United-States,>50K
6,young,Private,BeforeHS,Never-married,Other-service,White,Male,no,yes,part-time,United-States,<=50K
7,senior,Private,AfterHS,Never-married,Sales,White,Male,no,no,over-time,United-States,>50K
8,senior,gov,Bachelors,Married-civ-spouse,Prof-specialty,White,Female,yes,no,part-time,United-States,>50K
9,adult,Private,Grd,Married-civ-spouse,Prof-specialty,White,Male,no,no,over-time,United-States,<=50K
10,adult,Self-employed,HS-grad,Married-civ-spouse,Exec-managerial,White,Male,no,no,over-time,United-States,>50K
11,young,Private,HS-grad,Never-married,Prof-specialty,White,Male,no,no,part-time,United-States,<=50K
12,adult,gov,Grd,Married-civ-spouse,Prof-specialty,White,Female,no,no,part-time,United-States,>50K
13,senior,gov,AfterHS,Married-civ-spouse,Exec-managerial,White,Male,yes,no,part-time,United-States,>50K
14,young,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,full-time,United-States,<=50K
15,adult,gov,Bachelors,Married-civ-spouse,Adm-clerical,Asian-Pac-Islander,Male,no,no,full-time,other,>50K
16,young,Private,BeforeHS,Never-married,Machine-op-inspct,White,Male,no,no,full-time,other,<=50K
17,adult,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,over-time,United-States,>50K
18,adult,Private,AfterHS,Married-civ-spouse,Craft-repair,White,Male,no,no,over-time,United-States,<=50K
19,adult,Private,AfterHS,Married-civ-spouse,Exec-managerial,White,Male,no,no,over-time,United-States,>50K
20,adult,gov,AfterHS,Married-civ-spouse,Craft-repair,White,Male,no,no,full-time,United-States,>50K
21,adult,Private,AfterHS,Never-married,Adm-clerical,White,Female,no,no,full-time,United-States,<=50K
22,adult,Private,HS-grad,Divorced,Handlers-cleaners,Black,Male,no,no,part-time,United-States,<=50K
23,senior,Private,HS-grad,Divorced,Craft-repair,White,Male,no,no,full-time,United-States,>50K
24,senior,Private,Bachelors,Divorced,Sales,White,Male,yes,no,full-time,United-States,>50K
25,adult,Private,Grd,Never-married,Tech-support,White,Male,no,no,part-time,United-States,<=50K
26,old,Self-employed,Bachelors,Married-civ-spouse,Sales,White,Male,no,no,part-time,United-States,>50K
27,senior,Private,AfterHS,Married-civ-spouse,Craft-repair,White,Male,no,no,full-time,other,<=50K
28,senior,Private,HS-grad,Married-civ-spouse,Craft-repair,White,Female,no,no,full-time,United-States,>50K
29,adult,Self-employed,HS-grad,Married-civ-spouse,Farming-fishing,White,Male,no,no,over-time,United-States,<=50K

In [47]:
filtered_df['marital'] = filtered_df['marital'].replace(['Married-AF-spouse',
                                                             'Married-civ-spouse'],
                                                            'Married')

filtered_df['marital'] = filtered_df['marital'].replace(['Married-spouse-absent',
                                                         'Separated',
                                                         'Divorced',
                                                         'Widowed'],
                                                        'Not-married')

In [48]:
filtered_df[:30]

,age,type_employer,education,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,young,Private,HS-grad,Married,Machine-op-inspct,White,Male,no,no,full-time,United-States,<=50K
1,adult,Private,AfterHS,Never-married,Prof-specialty,White,Female,no,no,full-time,United-States,<=50K
2,senior,Private,AfterHS,Not-married,Adm-clerical,White,Female,no,no,full-time,United-States,<=50K
3,adult,Private,BeforeHS,Never-married,Handlers-cleaners,White,Male,no,no,part-time,United-States,<=50K
4,young,Private,Grd,Never-married,Sales,White,Female,no,no,part-time,United-States,<=50K
5,senior,Self-employed,Grd,Married,Sales,White,Male,yes,no,over-time,United-States,>50K
6,young,Private,BeforeHS,Never-married,Other-service,White,Male,no,yes,part-time,United-States,<=50K
7,senior,Private,AfterHS,Never-married,Sales,White,Male,no,no,over-time,United-States,>50K
8,senior,gov,Bachelors,Married,Prof-specialty,White,Female,yes,no,part-time,United-States,>50K
9,adult,Private,Grd,Married,Prof-specialty,White,Male,no,no,over-time,United-States,<=50K
10,adult,Self-employed,HS-grad,Married,Exec-managerial,White,Male,no,no,over-time,United-States,>50K
11,young,Private,HS-grad,Never-married,Prof-specialty,White,Male,no,no,part-time,United-States,<=50K
12,adult,gov,Grd,Married,Prof-specialty,White,Female,no,no,part-time,United-States,>50K
13,senior,gov,AfterHS,Married,Exec-managerial,White,Male,yes,no,part-time,United-States,>50K
14,young,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,full-time,United-States,<=50K
15,adult,gov,Bachelors,Married,Adm-clerical,Asian-Pac-Islander,Male,no,no,full-time,other,>50K
16,young,Private,BeforeHS,Never-married,Machine-op-inspct,White,Male,no,no,full-time,other,<=50K
17,adult,Private,Bachelors,Never-married,Exec-managerial,White,Female,no,no,over-time,United-States,>50K
18,adult,Private,AfterHS,Married,Craft-repair,White,Male,no,no,over-time,United-States,<=50K
19,adult,Private,AfterHS,Married,Exec-managerial,White,Male,no,no,over-time,United-States,>50K
20,adult,gov,AfterHS,Married,Craft-repair,White,Male,no,no,full-time,United-States,>50K
21,adult,Private,AfterHS,Never-married,Adm-clerical,White,Female,no,no,full-time,United-States,<=50K
22,adult,Private,HS-grad,Not-married,Handlers-cleaners,Black,Male,no,no,part-time,United-States,<=50K
23,senior,Private,HS-grad,Not-married,Craft-repair,White,Male,no,no,full-time,United-States,>50K
24,senior,Private,Bachelors,Not-married,Sales,White,Male,yes,no,full-time,United-States,>50K
25,adult,Private,Grd,Never-married,Tech-support,White,Male,no,no,part-time,United-States,<=50K
26,old,Self-employed,Bachelors,Married,Sales,White,Male,no,no,part-time,United-States,>50K
27,senior,Private,AfterHS,Married,Craft-repair,White,Male,no,no,full-time,other,<=50K
28,senior,Private,HS-grad,Married,Craft-repair,White,Female,no,no,full-time,United-States,>50K
29,adult,Self-employed,HS-grad,Married,Farming-fishing,White,Male,no,no,over-time,United-States,<=50K

In [49]:
filtered_df['occupation'] = filtered_df['occupation'].replace(['Tech-support',
                                                                   'Adm-clerical',
                                                                   'Priv-house-serv',
                                                                   'Protective-serv',
                                                                   'Armed-Forces',
                                                                   'Other-service'],
                                                                  'Other')

filtered_df['occupation'] = filtered_df['occupation'].replace(['Craft-repair', 'Farming-fishing',
                                                               'Handlers-cleaners',
                                                               'Machine-op-inspct',
                                                               'Transport-moving'],
                                                              'ManualWork')

In [44]:
filtered_df.type_employer.unique()

array(['Private', 'Self-employed', 'gov', 'Not-working'], dtype=object)

In [45]:
filtered_df.education.unique()

array(['HS-grad', 'AfterHS', 'BeforeHS', 'Grd', 'Bachelors'], dtype=object)

In [50]:
filtered_df.marital.unique()

array(['Married', 'Never-married', 'Not-married'], dtype=object)

In [51]:
filtered_df.occupation.unique()

array(['ManualWork', 'Prof-specialty', 'Other', 'Sales',
       'Exec-managerial'], dtype=object)